<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="js/try.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is created in honor of Wonder Human</p>
            <p>She will forever protect us</p>
            <img class="portrait" src="/images/842646.jpg" >
        </div>
        {{>footer}}
    </body>

</html>